/*Implemented by Ace Reyes*/
.body {
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 30px;
    background-image: url("./img/tree.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 10px;
}